<style>
  #rubric thead th {
    text-align: center;
    vertical-align: middle;
  }
  #rubric tbody > tr > td:nth-of-type(1) {
    background-color: #f9ebeb;
  }
</style>

<table id="rubric">
  <colgroup>
    <col style="width: 20%" />
    <col style="width: 16%" />
    <col style="width: 16%" />
    <col style="width: 16%" />
    <col style="width: 16%" />
    <col style="width: 16%" />
  </colgroup>
  <thead>
    <tr>
      <th>
        <a href="{% link 02-outline.md %}#learning-outcomes"
          >learning outcome</a
        >
      </th>
      <th>N</th>
      <th>P</th>
      <th>CR</th>
      <th>D</th>
      <th>HD</th>
    </tr>
  </thead>
  <tbody markdown="1">
    <tr>
      <td>1. understand & apply fundamental concepts in CM</td>
      <td>incomplete or flawed application of fundamental concepts</td>
      <td>adequate application of fundamental techniques</td>
      <td>competent application of fundamental techniques</td>
      <td>thorough application of fundamental techniques</td>
      <td>innovative application of fundamental techniques</td>
    </tr>
    <tr>
      <td>2. describe design & performance challenges in CM interfaces</td>
      <td>incomplete or flawed description of performance challenges</td>
      <td>
        adequate description of performance challenges, no potential solutions
      </td>
      <td>
        competent description of performance challenges and potential solutions
      </td>
      <td>
        thorough description of performance challenges and potential solutions
      </td>
      <td>
        insightful description of performance challenges and potential solutions
      </td>
    </tr>
    <tr>
      <td>
        3. critically analyse CM systems/ensemble performances (inc.
        self-reflection)
      </td>
      <td>incomplete or flawed analysis of systems/ensemble performances</td>
      <td>adequate analysis of systems/ensemble performances</td>
      <td>competent analysis of systems/ensemble performances</td>
      <td>
        thorough analysis of systems/ensemble performances, limited
        self-reflection
      </td>
      <td>
        insightful analysis of systems/ensemble performances, including deep
        self-reflection
      </td>
    </tr>
    <tr>
      <td>4. produce a CM instrument/composition and present it in concert</td>
      <td>flawed/non-working concert performance</td>
      <td>concert performance, major technical issues</td>
      <td>
        competent concert performance, some technical issues/performance
        shortcomings
      </td>
      <td>
        very competent concert performance, very minor technical
        issues/performance shortcomings
      </td>
      <td>innovative and compelling concert performance</td>
    </tr>
    <tr>
      <td>5. demonstrate collaboration skills & feedback within ensemble</td>
      <td>no evidence of collaboration or feedback within ensemble</td>
      <td>problematic collaboration, superficial feedback</td>
      <td>competent collaboration, some critical feedback</td>
      <td>thorough collaboration, useful/actionable feedback</td>
      <td>strong collaboration, insightful feedback (making others better)</td>
    </tr>
  </tbody>
</table>
