<table>
  <thead>
    <tr>
      <th><a href="/courses/comp2710-lens/outline/#learning-outcomes" class="acton-tabs-link-processed">learning outcome</a></th>
      <th>N</th>
      <th>P</th>
      <th>CR</th>
      <th>D</th>
      <th>HD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1. understand &amp; apply fundamental concepts in CM</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2. describe design &amp; performance challenges in CM interfaces</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3. critically analyse CM systems/ensemble performances (inc. self-reflection)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>4. produce a CM instrument/composition and present it in concert</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>5. demonstrate collaboration skills &amp; feedback within ensemble</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
