<header class="site-header">

<!-- noindex -->
<div id="skipnavholder"><a id="skipnav" href="#content">Skip navigation</a></div>
<div id="print-hdr">
	<div class="left"><img src="//style.anu.edu.au/_anu/4/images/logos/anu_logo_print.png" alt="The Australian National University" height="40" width="115" /></div>
    <div class="right"></div>
	<div class="blockline"></div>
</div><div id="bnr-wrap" class="bnr-gwy-high" role="banner">
	<div id="bnr-gwy" class="bnr-gwy-high">
		<div id="bnr-left"><a href="http://www.anu.edu.au/" class="anu-logo-png"><img class="text-white" src="//style.anu.edu.au/_anu/4/images/logos/2x_anu_logo_small.png" onmouseover="this.src='//style.anu.edu.au/_anu/4/images/logos/2x_anu_logo_small_over.png';" onfocus="this.src='//style.anu.edu.au/_anu/4/images/logos/2x_anu_logo_small_over.png';" onmouseout="this.src='//style.anu.edu.au/_anu/4/images/logos/2x_anu_logo_small.png'" onblur="this.src='//style.anu.edu.au/_anu/4/images/logos/2x_anu_logo_small.png'" alt="The Australian National University" /></a></div>
<div id="bnr-mid"><div class="left"><img src="//style.anu.edu.au/_anu/4/images/logos/pipe_logo_small.png" alt="" width="66" height="51" class="anu-logo-pipe left" /></div><div class="left" id="bnr-h-lines"><div class="bnr-line-1  bnr-2line"><h1><a href="{{ relativeurl }}/">{{ site.title }}</a></h1></div><div class="bnr-line-2 "><a href="http://cecs.anu.edu.au">ANU College of Engineering &amp; Computer Science</a></div></div></div>
        <div id="bnr-right">

        <div class="bnr-gw2-search ">
        <form action="//find.anu.edu.au/search" method="get" id="SearchForm" role="search" autocomplete="off">
        <div>

       <label for="qt" class="scrnhide">Search query</label><input class="txt" name="q" id="qt" type="search" placeholder="Search ANU web, staff &amp; maps" autocomplete="off">
        <input type="hidden" class="srch-sel-gsa-hidden" name="filter" value="0" />
        <input type="hidden" class="srch-sel-gsa-hidden" name="client" value="anu_frontend" />
        <input type="hidden" class="srch-sel-gsa-hidden" name="proxystylesheet" value="anu_frontend" />
        <input type="hidden" class="srch-sel-gsa-hidden" name="site" value="default_collection" />
        <input type="hidden" class="srch-sel-gsa-hidden" name="btnG" value="Search" /><input type="hidden" class="srch-dn srch-sel-gsa-hidden" name="c-dnavs" value="inmeta:gsaentity_sitetype=Web%20Publishing">
        <input type="hidden" class="srch-q srch-sel-gsa-hidden" name="c-q" value="inmeta:gsaentity_sitetype=Web%20Publishing"><div class="srch-sel-site">
<ul>
    <li class="srch-sel-anu srch-selected"><span>Search ANU web, staff &amp; maps</span><li>
</ul>
</div>
<div class="srch-divide" id="srch-sel-cont"></div><div class="srch-divide"><div class="srch-divide2"></div></div>
<button value="Go" name="search1" id="search1" onclick="return checkInput('qt','You must enter search terms');" class="btn-go"><span class="scrnhide">Search</span>
<img src="//style.anu.edu.au/_anu/4/images/buttons/search-black.png" alt=""></button></div>
        </form>
        </div>

            </div>

            <div id="bnr-low">
            <!--GW_UTILITIES-->

            </div>
</div>
</div>
  <div id='tab-wrap'>
		<div id="tabs-nav" class="clearfix">
			<ul class="tabs-nav-processed">
				{% assign current = page.url | downcase | split: '/' %}
				{% assign collection_filtered = site.collections | where:	"navbar","true" | sort: "display-order" %}
				{% assign collection_filtered_names = collection_filtered | map: "label" %}
				<li id=homebutton><a href="{{ relativeurl }}/" {% unless collection_filtered_names contains current[1] %}class="active-trail active tabs-select"{% endunless %}><span>{{ site.course_code }}</span></a>
					{% for collection in collection_filtered %}
						{% assign displayname = collection.label | capitalize %}
						{% if collection.displayname %}
						{% assign displayname = collection.displayname %}
						{% endif %}
	      <li><a href="{{ collection.label | prepend: '/' | prepend: relativeurl }}" {% if current[1] == collection.label %}class="active-trail active tabs-select"{% endif %}>{{ displayname }}</a></li>
				{% endfor %}
      </ul>
	</div>
	<div style="clear:both;"></div>
</div><!--GW_NAV_WRAP-->



<!-- endnoindex -->
</header>
