{% comment %}
Generates a tag given the name of the tag

@param {string} tag - the tag, text to be included in the tag
@param {string} [url] - optional url for the tag to link to, internal links should already have base_url prepended
{% endcomment %}

{% assign tag= include.name %}
{% assign url = include.url %}


{% if url %}
  {% if page.dir contains url %}
    <a class="tag current-page" href="{{ url }}" aria-current="page">{{tag}}</a>
  {% else %}
    <a class="tag" href="{{ url }}">{{tag}}</a>
  {% endif %}
{% else %}
  <span class="tag">{{ tag }}</span>
{% endif %}
