<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="body-wrap" role="main">
      <div id="body">
        {% include menu.html %}

      <div id="content">
        {{ content }}
        </div>

<div id="update-wrap">
	<div id="update-details">
		<p class="sml-hdr">
			<span class="upd-date">Updated:&nbsp;&nbsp;<strong>{{ page.last_modified_at | date: "%d %b %Y" }}</strong></span><span class="hpad">/</span>
			<span class="upd-officer">Responsible Officer:&nbsp;&nbsp;<a href="mailto:{{ site.responsible_officer_email}}"><strong>{{ site.responsible_officer }}</strong></a></span><span class="hpad">/</span>
			<span class="upd-contact">Page Contact:&nbsp;&nbsp;<a href="mailto:{{ site.page_contact_email }}"><strong>{{ site.page_contact }}</strong></a></span>
		</p>
	</div>
</div>
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>
