---
layout: default
---
{%include relativeurl %}

<article class="post">

<div class="doublewide">
  {% if page.attachments %}
  <div class="right narrow nopadtop nopadbottom">
  <div class="box-solid-uni small menu-flat menu-main" style="border-top: 3px solid #ACC0C6;" markdown="1">
<p>Attachments</p>
<ul>
{% for attachment in page.attachments %}
  {% assign path = ""}
  {% if attachment.path contains "http://" or attachment.path contains "https://" %}
    {% assign path = attachment.path }
  {% else %}
    {% assign path = attachment.path | prepend: relativeurl %}
  {% endif %}
  <li><a href="{{ path }}">{{ attachment.name }}</a></li>
{% endfor %}
</ul>
</div>
</div>
  {% endif %}

  {% if page.title %}
    {% unless page.hide_heading %}
    {% if page.show_date %}
      <div class="dateblock-line">
        <div class="day">{{ page.date | date: "%-d" }}</div>
        <div class="month">{{ page.date | date: "%b" }}</div>
        <div class="year">{{ page.date | date: "%Y" }}</div>
        {% if page.show_time %}<div class="time onlysmall">{{ page.date | date: "%R" }}</div>{% endif %}
      </div>
      <div class="datetext">{%else%}<div>{% endif %}
        {% if page.show_time %}<p class="onlybig right small" style="color:#666">Posted {{ page.date | date: "%r" }}</p>{% endif %}
        <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
      </div>
    {% endunless %}
  {% endif %}
  <div class="post-content">
    {{ content }}
  </div>
  </div>
</article>
