---
---

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/reveal.js/css/reveal.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/reveal.js/css/theme/white.css' | relative_url }}">
  </head>
  <body>
    {{ content | revealify }}

    <script src="{{'/assets/vendor/reveal.js/js/reveal.js' | relative_url }}"></script>
    <script>
// this is the reveal config
Reveal.initialize({
  center: false,
  controls: false,
  transition: 'fade',
  width: '100%',
  height: '100%',
  margin: 0,
  history: true,
  slideNumber: true,
});
    </script>
  </body>
</html>
